<!doctype html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/><title>React-TS</title><link rel="icon" href="/favicon.ico"><script defer="defer" src="/assets/js/index.414ae64e21bad534df54.js"></script><link href="/assets/css/index.414ae64e21bad534df54.css" rel="stylesheet"></head><body><div id="root"></div><div id="modal-root"></div></body></html>