@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Cabin.ttf) format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Cabin-Italic.ttf) format("truetype");
}
