<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>App.edge</title>
</head>
<body>

  @!section('body')

  <script src="/assets/socket.io.min.js"></script>

  @!section('script')

</body>
</html>